llama-index
nltk
streamlit
openai
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
PyDrive
llama-index-llms-openai
llama-index-extractors-entity
llama-index-embeddings-huggingface
llama-index-readers-google
python-dotenv
docx2txt
llama-index-embeddings-openai
google-auth 
google-auth-oauthlib 
google-auth-httplib2
python-multipart
passlib
python-jose
pydantic[email]
email-validator==1.1.2
fastapi==0.62.0
PyJWT==1.7.1
python-decouple==3.3
uvicorn==0.12.3
msal
