llama-index
nltk
streamlit
openai
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
PyDrive
llama-index-llms-openai
llama-index-extractors-entity
llama-index-embeddings-huggingface
llama-index-readers-google
python-dotenv
docx2txt
llama-index-embeddings-openai
google-auth 
google-auth-oauthlib 
google-auth-httplib2
python-multipart
passlib
python-jose